@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* =========================
   RESET + BASE
========================= */

/* components --------------------------- */
/* Add this to your CSS */

/* .container {
  max-width: 1200px;   Your desired "standard" width 
  margin: 0 auto;      Centers the container horizontally 
  padding: 0 20px;     Prevents text from touching screen edges on mobile 
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* 1rem = 10px for easier calculations */
}

/* =========================
   VARIABLES (VERY IMPORTANT)
========================= */
:root {
  /* Backgrounds */
  --bg-body: #0c0c12;
  --bg-sidebar: #101019;

  --bg-input: #24243e;
  --bg-card-1: #161622;
  --bg-card-2: #1a1a2e; /* slightly lighter than card-1 */
  --bg-card-tip: #181428; /* for tips and notes, a bit more purple */

  /* Primary Brand Colors (Vibrant for contrast) */
  --accent: #00d2ff;
  --primary: #8e5eed;

  /* Text Colors */
  --text-title-sidebar: #cbcbff;
  --text-main: #e0e0e6;
  --text-muted: #9494b8;
  --text-muted-light: #9d9daf;
  --text-inv: #0f0f1a;

  /* Borders and Dividers */
  --border: #2d2d44;
  --borderlines: 2px solid var(--border);

  --border-content: #2b2b3b;
  --borderlines-content: 1px solid var(--border-content);

  --border-color-tip: #8e5eed33;
  --borderlines-tip: 1px solid var(--border-color-tip);

  /* Gradients */
  --gradient-primary: linear-gradient(135deg, #8e5eed, #00d2ff);
  --gradient-hover: linear-gradient(135deg, #7a4ed8, #00c1e0);
  --gradient-active: linear-gradient(135deg, #6a3db0, #00a8c1);
  --content-divider-gradient: linear-gradient(45deg, #9c27b0, #3f51b5);

  --vertical-gradient: linear-gradient(
    180deg,
    #8e5eed 0%,
    #8352f2 25%,
    #6b84fe 50%,
    #38bdf8 75%,
    #00d2ffe6 100%
  );
  --horizontal-gradient: linear-gradient(
    0deg,
    #8e5eed 0%,
    #8352f2 25%,
    #6b84fe 50%,
    #38bdf8 75%,
    #00d2ffe6 100%
  );
  --real-horizontal-gradient: linear-gradient(
    90deg,
    #8e5eed 0%,
    #8352f2 25%,
    #6b84fe 50%,
    #38bdf8 75%,
    #00d2ffe6 100%
  );

  /* shadows */
  --shadow-neon: 0 0 20px #00d0ff18;

  /* Status Colors */
  --success: #00f5d4;
  --error: #ff5d8f;
  --warning: #fee440;
  --selected: #ff7c5c;

  --lesson-hover: #212131; /* less purple, more gray */
  --lesson-active: #221b38; /* less gray, more purple */

  /* Spacing / gaps */
  --gap-tiny: 0.5rem;
  --gap-small: 1rem;
  --gap-1-25: 1.25rem;
  --gap-large: 1.8rem;

  /* paddings ------------- */
  --padding_1: 1rem;
  --padding_1_25: 1.25rem;
  --padding_2: 2rem;
  --padding_1_6: 1.6rem;
  --padding_2_5: 2.5rem;

  /* headings */
  --heading-font-size: 1.8rem;
  --heading-font-weight: 700;

  /* font size */
  --font-size-larger: 3.2rem;
  --font-size-large: 2rem;
  --font-size-base: 1.6rem;
  --font-size-small: 1.4rem;
  --font-size-tiny: 1.2rem;

  /* line height */
  --line-height-base: 1.6;
  --line-height-1-4: 1.4;

  /* buttons */
  --btn-min-width: 14rem;

  /* info tag cols */
  --tag-text: #00d4ff;

  /* info cards */
  --bg-info-example: var(--bg-card-1);
  --bg-info-note: var(--bg-card-tip);
  --bg-info-warning: var(--warning);

  /* borders radius */
  --border-radius-card: 1rem;
  --border-radius-btn: 0.5rem;

  /* from mdn  */
  --color-white: #fff;
  --color-white-alpha-25: #ffffff40;
  --color-white-alpha-75: #ffffffbf;

  --color-black: #000;
  --color-black-alpha-25: #00000040;
  --color-black-alpha-75: #000000bf;

  --color-gray-90: #f7f7f8;
  --color-gray-80: #edeef0;
  --color-gray-60: #c3c7cb;
  --color-gray-40: #51565d;
  --color-gray-20: #2d3034;
  --color-gray-10: #212426;
  --color-gray-05: #18191b;

  --color-red-90: #ffe6ea;
  --color-red-80: #fc7d92;
  --color-red-50: #d31232;
  --color-red-20: #b7102c;
  --color-red-10: #4b0b16;

  --color-orange-90: #fef3eb;
  --color-orange-80: #febe8f;
  --color-orange-50: #e2782c;
  --color-orange-20: #c2570a;
  --color-orange-10: #3f220d;

  --color-yellow-90: #fef0c3;
  --color-yellow-80: #fae49e;
  --color-yellow-50: #e6b30a;
  --color-yellow-20: #97770c;
  --color-yellow-10: #574405;

  --color-green-90: #eaf6ef;
  --color-green-80: #70eba3;
  --color-green-50: #089141;
  --color-green-20: #065b29;
  --color-green-10: #0c311c;

  --color-blue-90: #ecf4fe;
  --color-blue-80: #a4cefe;
  --color-blue-50: #0a5dbd;
  --color-blue-20: #044c9f;
  --color-blue-10: #072446;

  --color-purple-90: #f7f0ff;
  --color-purple-80: #d8b8ff;
  --color-purple-50: #863ae4;
  --color-purple-20: #5f1fad;
  --color-purple-10: #260e43;
}

/* =========================
   LAYOUT
========================= */
body {
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  /* ⚠️ */
  background: var(--bg-body);
  color: var(--text-main);
  font-size: 1.6rem;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  width: 0.6rem;
}
body::-webkit-scrollbar-track {
  background: var(--bg-sidebar);
}
body::-webkit-scrollbar-thumb {
  background: #3a3a49;
  border-radius: 0px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #505065;
}

.app {
  display: flex;
  min-height: 100%;
}

/* =========================
   sidebar
========================= */

.sidebar-lesson-listing::-webkit-scrollbar {
  width: 4px;
}
.sidebar-lesson-listing::-webkit-scrollbar-track {
  background: var(--bg-sidebar);
}
.sidebar-lesson-listing::-webkit-scrollbar-thumb {
  background: #3a3a49;
  border-radius: 99px;
}
.sidebar-lesson-listing::-webkit-scrollbar-thumb:hover {
  background: #505065;
}

/* =========================
   no selection
========================= */
.note strong,
.example-div-tag,
.lang-icon,
.lesson,
.nextBtn,
button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
}

/* =========================
   media queries
========================= */
@media screen and (max-width: 815px) {
  /* 768px */
  .app {
    flex-direction: row;
  }

  .sidebar-lessons {
    min-width: 100%;

    border-right: none;
    border-bottom: var(--borderlines);
    padding: var(--padding_1_25) var(--padding_2_5);
  }

  aside.sidebar-lessons {
    border-right: none;
    /* position: relative; */
    /* max-height: max(60rem, 40vh); */
    position: sticky;
    height: 100vh;
  }
  .app {
    height: 100vh;
    overflow: hidden;
  }

  aside .lesson {
    padding: 0.75rem 1rem 0.75rem 4.7rem;
  }
  .lesson-arrow-sp {
    left: 2rem;
  }

  .code-wrapper .lang-icon {
    font-size: 1rem;
    top: 5px;
    right: 5px;
    border-radius: 8px;
  }

  .sidebar-lessons.hidden {
    display: none;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 57%;
  }
}

/* =========================
   buttons
========================= */
.btn-primary {
  min-width: var(--btn-min-width);
  background: var(--primary);
  color: var(--text-inv);
  border: none;
  padding: var(--padding_1);
  border-radius: var(--border-radius-btn);
  cursor: pointer;
  transition:
    background 0.2s ease-in-out,
    transform 0.1s ease-in-out;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (hover: hover) {
  .btn-primary:hover {
    background: #7f40fcd0;
    transform: translateY(-2px);
  }
}

.nextBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* sidebar span */
.sidebar-span {
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
  z-index: 99;
}
/* sidebar btn */
.sidebar-toggle-btn {
  padding: 0.6rem 0.8rem 0.5rem;
  background: #7373d1e8;
  font-size: var(--font-size-base);
  color: var(--text-title-sidebar);
  border: none;
  border-radius: var(--border-radius-btn);
  cursor: pointer;
  transition:
    background 0.2s ease-in-out,
    transform 0.1s ease-in-out;
  backface-visibility: hidden;
}
@media (hover: hover) {
  .sidebar-toggle-btn:hover {
    background: #8383e7;
  }
}

/* sidebar display */
/* aside.hidden {
  display: none;
} */
